.quiz-question {
    background-color: rgba(0,0,0,0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin-top: 1rem;
    width: 59%;
    text-align: center;
}

.quiz-question header {
    font-size: 1.5rem;
}

.quiz-questions-container {
    display: flex;
    flex-direction: column;
    width: 72%;
}

.answer {
    margin: 1rem;
    background-color: var(--theme-green);
}

.answer.correct {
    border: 4px solid green;
}

.answer.incorrect {
    border: 4px solid red;
}

.quiz-question button:disabled {
    background-color: black;
    color: gray;
}

.quiz-question button:disabled:hover {
    cursor: not-allowed;
}

.quiz-nav-btns-container {
    width: 71%;
    display: flex;
    justify-content: space-evenly;
}

.quiz-nav-btns-container button {
    margin: 1rem;
}