#root {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader > .fa-paw {
  font-size: 30px;
}

.paw-1 {
  transform: rotate(20deg) translateY(-20px);
  animation: show 2s ease-in-out infinite;
  animation-delay: 1s;
}

.paw-2 {
  transform: rotate(20deg) translateY(-40px);
  animation: show 2s ease-in-out infinite;
  animation-delay: 1s;
}

.paw-3 {
  transform: rotate(20deg) translate(-60px, -60px);
  animation: show 2s ease-in-out infinite;
  animation-delay: 1s;
}

@keyframes show {
  from {
    opacity: 0;
    visibility: none;
    display: none;
  }
  to {
    opacity: 1;
    visibility: none;
    display: inline-block;
  }
}

.loader-container {
  margin: 15rem 0 0 0;
  text-align: center;
}

.loader {
  position: relative;
  margin-bottom: 3rem;
}

.take-quiz-btn {
  margin: 0;
}

.active-link {
  cursor: pointer;
  color: var(--theme-brown);
}

.navbar {
  position: sticky;
  top: 2%;
  display: flex;
  width: 94vw;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  background-color: var(--theme-cream);
  padding: 1rem;
  z-index: 100;
  color: var(--theme-brown);
}

.navbar.only-homepage-link {
  justify-content: center;
}

.navbar h1 {
  color: var(--theme-brown);
}

.navbar-homepage-link-container {
  display: flex;
  align-items: center;
}

.navbar-homepage-link-container img {
  height: 3rem;
  margin-right: 1rem;
  margin-bottom: 3%;
}

.fail-fetch-message-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fail-fetch-message-container p {
  margin-top: 10rem;
}

.reload-btn {
  padding: 0.6em 1.2em;
  margin: 1rem 0;
}

.reload-btn:hover {
  opacity: 0.8;
}

.homepage-main-content-container {
  width: 96%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-tools {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-container p {
  margin: 0.5rem 0 0 0;
}

.search-box {
  display: flex;
  align-items: center;
}

.search-box input {
  padding: 3px;
  border-radius: 0.25rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: 3px solid var(--theme-brown);
  font-family: var(--body-font);
  width: 16rem;
  font-weight: 700;
  font-size: 1.25rem;
}

.search-box input:focus {
  outline: none;
}

.search-box i {
  background-color: var(--theme-brown);
  padding: 1rem;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  height: 4px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  margin-left: -2px;
}

.search-box i:hover {
  cursor: pointer;
  opacity: 0.8;
}

.card-container {
  margin-top: 2rem;
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.park-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--theme-cream);
  padding: 1.5rem 1rem 0 1rem;
  width: 29%;
  margin: 0.5rem 0.5rem;
  background-color: var(--theme-blue-darker);
}

.park-page-main-content-container {
  display: flex;
}

.homepage-park-slideshow-container {
  width: 100%;
}

.homepage-park-slideshow-container .img-arrows-container {
  display: flex;
  align-items: center;
  width: 86%;
  justify-content: space-evenly;
}

.slideshow-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.img-arrows-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
}

.img-arrows-container i:first-child {
  rotate: 180deg;
}

.slideshow-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%;
}

.slideshow-container p {
  max-width: 80%;
  margin: 0;
  text-wrap: wrap;
  text-align: center;
}

.homepage-park-slideshow-container i {
  font-size: 2rem;
}

.homepage-park-slideshow-container i:hover,
.park-page-img-slideshow-container i:hover {
  cursor: pointer;
}

.park-card img {
  float: left;
  width: 13rem;
  height: 7rem;
  object-fit: cover;
  border: 2px solid var(--theme-brown);
}

.park-card header {
  font-size: 1.25rem;
  text-align: center;
  color: var(--theme-cream);
  margin-top: 0.75rem;
}

.park-card .state-list p {
  margin: 0.25rem auto;
}

.park-description {
  margin: 0.25rem auto;
}

#scroll-to-top-btn {
  rotate: -90deg;
  background-color: var(--theme-brown);
  padding: 0.5rem 1rem;
  font-size: 2rem;
  position: fixed;
  bottom: 0.75rem;
  right: 1rem;
  z-index: 300;
}

#scroll-to-top-btn:hover {
  cursor: pointer;
}

.learn-more-btn {
  margin: 1rem 0;
}

.universal-footer {
  position: relative;
  width: 95%;
  text-align: center;
  margin: 3rem 0 1rem 0;
  font-weight: 700;
  background-color: black;
}

.park-page-container {
  padding: 0 3rem;
}

.park-page-headers-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.park-page-main-content-container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  width: 98%;
  justify-content: center;
}

.park-google-maps-current-weather-alerts-container {
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: space-around;
}

.park-google-maps-current-weather-alerts-container p,
.park-google-maps-current-weather-alerts-container a {
  color: var(--theme-cream);
  text-decoration: none;
}

.show-modal-open-google-maps {
  color: var(--theme-cream);
  text-decoration: none;
}

.show-modal-open-google-maps:hover {
  text-decoration: underline;
  cursor: pointer;
}

.park-alerts-modal,
.current-weather-modal-hero {
  height: 100vh;
  position: fixed;
  top: 0;
  width: 102vw;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 200;
  margin-left: -3rem;
}

.park-alerts-body {
  background-color: var(--theme-cream);
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  position: relative;
  height: 60%;
}

.park-alerts-body i,
.current-weather-container i {
  position: absolute;
  top: 5%;
  right: 4%;
  font-size: 2rem;
  color: black;
}

.park-alerts-body i:hover,
.current-weather-container i:hover {
  cursor: pointer;
}

.park-alerts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-height: 100%;
  overflow-y: scroll;
}

.park-modal-header {
  font-size: 2rem;
  color: black;
}

.park-modal-intro-header {
  font-size: 1rem;
  margin: 1rem 0 0 0;
  color: black;
}

.park-alert {
  background-color: var(--theme-blue-light);
  width: 20rem;
  margin: 2rem 0.5rem;
  text-align: center;
  padding: 1rem;
}

.park-alert header {
  color: var(--theme-cream);
  font-size: 1.25rem;
}

.park-modal-header {
  text-align: center;
}

.current-weather-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  border: 2px solid white;
}

.current-weather-container .fail-fetch-message-container {
  margin: 1rem 0;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 2rem;
}

.current-weather-container .fail-fetch-message-container p {
  margin: 1rem 0;
  text-align: center;
}

.current-weather-container i {
  color: white;
}

.weather-modal-header-container {
  text-align: center;
}

.current-weather-background {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 69%;
  background-repeat: round;
}

.weather-source {
  font-style: italic;
  font-size: 0.75rem;
  margin: 0 0 0.5rem 0;
}

.weather-info-container {
  position: relative;
  color: black;
  width: 80%;
  padding: 0.5rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.6);
}

.temperature-container {
  display: flex;
  align-items: center;
}

.weather-img-container img {
  height: 9rem;
}

.current-temp {
  font-size: 3rem;
}

.current-temp-units-container {
  font-size: 1.5rem;
  display: inline-flex;
  width: 4rem;
  justify-content: space-evenly;
  margin-left: 1rem;
}

.extended-weather-info p,
.datapoint-container {
  color: white;
  margin: 1rem 0;
  font-size: 1.5rem;
}

.datapoint-units-container {
  margin-left: 0.5rem;
}

.weather-unit {
  opacity: 0.4;
}

.weather-unit:hover {
  cursor: pointer;
}

.selected-unit.weather-unit {
  opacity: 1;
}

.basic-weather-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  width: 42%;
  padding: 0.5rem 0;
  margin-top: 1rem;
}

.basic-weather-info-text-container {
  text-align: left;
}

.basic-weather-info-text-container .datapoint-container {
  margin: 0;
}

.basic-weather-info-text-container .datapoint-container span {
  font-size: 1rem;
}

.basic-weather-info-text-container p {
  color: white;
  font-size: 1.5rem;
  margin: 0.5rem 0;
  text-wrap: wrap;
}

.current-temp-container p {
  font-size: 2rem;
  margin: 0;
}

.park-google-maps-link:hover {
  cursor: pointer;
  opacity: 0.8;
}

.park-page-top-section {
  display: flex;
  align-items: center;
}

.park-page-img-slideshow-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.park-page-img-slideshow-container .slideshow-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.park-page-img-slideshow-container .slideshow-container .slideshow-img-container {
  width: 77%;
}

.park-page-img-slideshow-container i {
  font-size: 3rem;
  margin: 0 2rem;
}

.park-page-img-slideshow-container img {
  float: left;
  width: 30rem;
  height: 17rem;
  object-fit: cover;
  border: 2px solid var(--theme-brown);
}

.longitude-latitude {
  margin: 0;
}

.park-basic-info-container {
  margin-left: 3rem;
}

.park-basic-info-container header {
  font-size: 1.25rem;
  color: var(--theme-cream);
}

.park-basic-info-container p {
  margin-top: 0.25rem;
}

.extended-weather-info {
  margin-top: 3rem;
}

.park-page-bottom-section button {
  background-color: transparent;
  display: flex;
  align-items: center;
  margin: 0;
  justify-content: space-between;
  height: 3rem;
  padding: 0.75em 0.6em 0.75em 0;
}

.park-page-bottom-section button * {
  font-size: 1.5rem;
}

.park-page-bottom-section button i {
  margin-top: 8px;
  transition: 200ms;
  margin-left: 2rem;
}

.park-page-bottom-section button:hover {
  transition: none;
  color: white;
  background-color: transparent;
}

.park-activities-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  transition: 200ms;
}

.park-activity {
  background-color: var(--theme-green);
  display: inline;
  padding: 8px;
  border-radius: 8px;
  margin: 1rem 0.5rem 1rem 0;
}

.entrance-fee-or-passes-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.entrance-fee-or-pass {
  text-align: center;
  background-color: var(--theme-green);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.entrance-fee-or-pass header {
  font-size: 1.25rem;
  color: var(--theme-cream);
}

.entrance-fee-or-pass p:nth-of-type(1) {
  font-size: 1.5rem;
  margin: 0.25rem;
}

.entrance-fee-or-pass p:nth-of-type(2) {
  margin: 0;
}

.contact-infos-container {
  margin-left: 1rem;
}

.contact-infos-container header {
  font-size: 1.5rem;
  color: var(--theme-cream);
}

.contact-infos-container span,
.contact-infos-container p {
  color: white;
  font-size: 1.5rem;
}

.phone-numbers-container {
  margin-left: 1rem;
}

.phone-numbers-container p {
  margin: 0.5rem 0;
}

.nearby-parks-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.nearby-parks-container .park-card {
  width: 25%;
  padding: 0.75rem 0.75rem 0.75rem 0.75rem;
  justify-content: center;
}

.nearby-parks-container .park-card img {
  width: 13rem;
  height: 7rem;
}

.nearby-parks-container .park-card button {
  padding: 0.3em 0.6em;
  margin: 0.5rem;
  height: 2.25rem;
}

.nearby-parks-container .homepage-park-slideshow-container i {
  font-size: 2rem;
}

.park-card button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--theme-brown);
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 1rem;
  color: white;
  text-decoration: none;
}

.park-card button:hover {
  opacity: 0.8;
  background-color: var(--theme-brown);
}
